<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- printer beans -->
    <bean id="printerWithDateTime" class="me.ridaennasry.PrinterWithDateTimeImpl">
        <constructor-arg ref="redenerStandard" />
    </bean>

    <bean id="printerWithPrefix" class="me.ridaennasry.PrinterWithPrefixImpl">
        <constructor-arg ref="redenerErr" />
    </bean>

    <!-- renderer beans -->
    <bean id="redenerStandard" class="me.ridaennasry.RendererStandardImpl">
        <constructor-arg
            ref="preProcessorToUpper"
        />
    </bean>

    <bean id="redenerErr" class="me.ridaennasry.RendererErrImpl">
        <constructor-arg
            ref="preProcessorToLower"
        />
        

</beans>